<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pkgs.mapper.sys.SysMenuMapper">

    <resultMap type="com.pkgs.entity.sys.SysMenu" id="baseMap">
        <id column="id" property="id"/>
        <result column="url" property="url"/>
        <result column="perms" property="perms"/>
    </resultMap>

    <select id="findMenuByRole" resultMap="baseMap">
        SELECT
        *
        FROM
        sys_menu
        LEFT JOIN map_role_menu ON map_role_menu.menu_id = sys_menu.id
        WHERE
        map_role_menu.role_id = #{roleId}
    </select>

</mapper>